<%#= form_with(model: training) do |form| %>
<%= form_for [@student, @training] do |f| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
        <% training.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row row-cols-lg g-3">
    <div class="input-group">
      <%= f.label :title, class: "input-group-text" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <%= f.fields_for :exercises do |exercise_form| %>
      <%= render 'exercise_fields', f: exercise_form %>
    <% end %>
  </div>
    <%= link_to_add_fields "Add Exercise", f, :exercises, class: 'btn btn-primary mt-3' %>
  <div class="actions">
    <%= f.submit class: "btn btn-success mt-3" %>
  </div>
<% end %>