<% @trainings.each do |training| %>
  <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
    <h1 class="card-header"><%= training.title %></h1>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th class="col">Exercise</th>
            <th class="col">Sets</th>
            <th class="col">Reps</th>
            <th class="col">Rest</th>
            <th class="col">Muscle group</th>
          </tr>
        </thead>
        <tbody>
          <% training.exercises.each do |exercise| %>
            <tr>
              <td class="align-middle"><%= exercise.name %></td>
              <td class="align-middle"><%= exercise.sets %></td>
              <td class="align-middle"><%= exercise.reps %></td>
              <td class="align-middle"><%= exercise.rest %></td>
              <td class="align-middle"><%= exercise.muscle_group %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @user_profile === 'student' %>
  <div class="d-grid gap-2 m-auto" style="max-width: 40rem;">
    <%= link_to 'Back', root_path, class: "btn btn-secondary btn mt-3" %>
  </div>
<% else %>
  <div class="d-grid gap-2 m-auto" style="max-width: 40rem;">
    <%= link_to 'Back', student_path(@student.id), class: "btn btn-secondary btn mt-3" %>
  </div>
<% end %>

