<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row row-cols-lg g-3">
    <div class="input-group">
      <%= form.label :name, class: "input-group-text" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <%= form.fields_for :user do |user_form| %>
      <div class="input-group">
        <%= user_form.label :email, class: "input-group-text" %>
        <%= user_form.text_field :email, class: "form-control" %>
      </div>
        <%= user_form.hidden_field :profile, value: "student" %>
        <%= user_form.hidden_field :student_id %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary mt-3" %>
  </div>
<% end %>
