<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :name, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :age, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :age, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :purpose, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :purpose, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success", style: "width: 120px;" %>
  </div>
<% end %>
