


<table class="mt-5 table table-secondary table-bordered table-striped">
  <thead class="table-dark">
    <tr class="text-center">
      <th>Name</th>
      <th>Age</th>
      <th>Purpose</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr class="align-middle text-center">
        <td><%= client.name %></td>
        <td><%= client.age %></td>
        <td><%= client.purpose %></td>
        <td>
          <%= link_to 'Edit', edit_client_path(client), class: "btn btn-primary me-2" %>
          <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path, class: "btn btn-success" %>
