<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row row-cols-lg g-3">
    <div class="input-group">
      <%= form.label :name, class: "input-group-text" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <%= form.fields_for :user do |user_form| %>
      <div class="input-group">
        <%= user_form.label :email, class: "input-group-text" %>
        <%= user_form.text_field :email, class: "form-control" %>
      </div>
      <div class="input-group">
          <%= user_form.label :password, class: "input-group-text" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= user_form.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
      <div class="input-group">
          <%= user_form.label :password_confirmation, class: "input-group-text" %><br />
          <%= user_form.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>
        <%= user_form.hidden_field :profile, value: "teacher" %>
        <%= user_form.hidden_field :teacher_id %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary mt-3" %>
  </div>
<% end %>