<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :client, class: "input-group-text", style: "width: 120px;" %>
    <%= form.select :client_id, Client.all.collect { |u| [u.name, u.id] }, {}, class: "form-control", style: "background: white;" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :muscle_group, class: "input-group-text", style: "width: 120px;" %>
    <%= form.select :muscle_group_id, MuscleGroup.all.collect { |u| [u.title, u.id] }, {}, class: "form-control", style: "background: white;" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :exercise, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :exercise, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :sets, class: "input-group-text", style: "width: 120px;" %>
    <%= form.number_field :sets, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :reps, class: "input-group-text", style: "width: 120px;" %>
    <%= form.number_field :reps, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :cadence, class: "input-group-text", style: "width: 120px;"%>
    <%= form.text_field :cadence, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :load, class: "input-group-text", style: "width: 120px;" %>
    <%= form.number_field :load, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :rest, class: "input-group-text", style: "width: 120px;" %>
    <%= form.number_field :rest, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :notes, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :notes, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success", style: "width: 110px;" %>
  </div>
<% end %>
