<p id="notice"><%= notice %></p>

<table class="mt-5 table table-secondary table-bordered table-striped">
  <thead class="table-dark">
    <tr class="text-center">
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Cadence</th>
      <th>Load</th>
      <th>Rest</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr class="align-middle text-center">
        <td><%= plan.exercise %></td>
        <td><%= plan.sets %></td>
        <td><%= plan.reps %></td>
        <td><%= plan.cadence %></td>
        <td><%= plan.load %></td>
        <td><%= plan.rest %></td>
        <td><%= plan.notes %></td>
        <td>
          <%= link_to 'Edit', edit_plan_path(plan), class: "btn btn-primary me-2" %>
          <%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Exercise', new_plan_path, class: "btn btn-success" %>
