<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Exercise:</strong>
  <div class="form-control bg-white">
    <%= @plan.exercise %>
  </div>
</div>

<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Sets:</strong>
  <div class="form-control bg-white">
    <%= @plan.sets %>
  </div>
</div>

<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Reps:</strong>
  <div class="form-control bg-white">
    <%= @plan.reps %>
  </div>
</div>

<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Cadence:</strong>
  <div class="form-control bg-white">
    <%= @plan.cadence %>
  </div>
</div>

<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Load:</strong>
  <div class="form-control bg-white">
    <%= @plan.load %>
  </div>
</div>

<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Rest:</strong>
  <div class="form-control bg-white">
    <%= @plan.rest %>
  </div>
</div>

<div class="input-group mb-3">
  <strong class="input-group-text", style="width: 100px;">Notes:</strong>
  <div class="form-control bg-white">
    <%= @plan.notes %>
  </div>
</div>

<%= link_to 'Edit', edit_plan_path(@plan), class: "btn btn-success me-2", style: "width: 110px;"%>
<%= link_to 'Back', plans_path, class: "btn btn-primary", style: "width: 110px;"%>
