<%= form_with(model: exercise) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :name, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

   <div class="input-group mb-3">
    <%= form.label :sets, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :sets, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :reps, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :reps, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :rest, class: "input-group-text", style: "width: 120px;" %>
    <%= form.text_field :rest, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :muscle_group, class: "input-group-text", style: "width: 120px;" %>
    <%= form.select :muscle_group,
        options_for_select([
          ['Abdominal', 'Abdominal'],
          ['Bíceps', 'Bíceps'],
          ['Deltóide', 'Deltóide'],
          ['Dorsal', 'Dorsal'],
          ['Gêmeos', 'Gêmeos'],
          ['Gluteo', 'Gluteo'],
          ['Isquiotibial', 'Isquiotibial'],
          ['Oblíquos', 'Oblíquos'],
          ['Peitoral', 'Peitoral'],
          ['Quadríceps', 'Quadríceps'],
          ['Trapézio', 'Trapézio'],
          ['Tríceps', 'Tríceps'],
        ]), {}, { class: "form-control", style: "background: white;" } %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
