<div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 40rem;">
  <h1 class="card-header">Exercises</h1>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th class="col">Name</th>
          <th class="col">Sets</th>
          <th class="col">Reps</th>
          <th class="col">Rest</th>
          <th class="col">Muscle group</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle"><%= @exercise.name %></td>
          <td class="align-middle"><%= @exercise.sets %></td>
          <td class="align-middle"><%= @exercise.reps %></td>
          <td class="align-middle"><%= @exercise.rest %></td>
          <td class="align-middle"><%= @exercise.muscle_group %></td>
          <td class="d-flex justify-content-end">
            <%= link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Back', exercises_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>